<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Class</title>
</head>

<body>
    <center>
    <h2>ImHere</h2><br>

    <h4>Create a Class</h4>
    <form method="POST" action="/teacher/add_class">
        Name: <input type="text" name="classname" required><br><br>

        <h4>Student Unis</h4>
        <textarea rows="6" cols="50" placeholder="Please enter one uni per line" name="unis"></textarea><br>
        <button>Create Class</button>
    </form><br>

    {% if invalid_uni %}
    <font color="red">Invalid UNI's entered, please recreate the class</font> 
    {% endif %}

    </center>
</body>
</html>
