<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - ImHere</title>
</head>

<body>
    <h1><center>ImHere</center></h1><br>

    <form method="POST" action="/login">
        <center>
        <input type="submit" value="Login"><br><br>
        </center>
    </form>

    {% if not_registered %}
    <center>
    <font color="red">*register for an account before logging in*</font>
    </center>
    {% endif %}

    <center><h4><a href="/register">Register</a></h4></center>

</body>
</html>
