{% if ta: %}
  {% set courses = ta.get_taed_courses() %}
  {% if courses|length > 0: %}
    <h2>You TA:</h2>
    <table border="1">
      <thead>
        <tr>
          <th>Course Name</th>
          <th>Attendance Window</th>
          <th>Sign in</th>
          <th>View</th>
        </tr>
      </thead>
      {% if courses|length > 3: %}
        <tfoot>
          <tr>
            <td>Course Name</td>
            <td>Attendance Window</td>
            <td>Sign In</td>
            <td>View</td>
          </tr>
        </tfoot>
      {% endif %}

      {% for course in courses %}
        <tr>
          <td>{{ course.get('name') }}</td>
          <td>
            {% set session = course.get_open_session() %}
            {% if session is none: %}
              <form action="{{ url_for('open_session', course_id=course.get_id()) }}" method="POST">
                <input type="submit" value="Open Attendance Window">
              </form>
            {% else: %}
              Secret: {{session['secret']}} <br />
              <form action="{{ url_for('close_session', course_id=course.get_id()) }}" method="POST">
                <input type="submit" value="Close Attendance Window">
              </form>
            {% endif %}
          </td>
          <td>
            {% if course.currently_signed_in(ta): %}
              Signed in
            {% elif course.get_open_session() is none: %}
              -
            {% else: %}
              <form action="{{ url_for('sign_in', course_id=course.get_id()) }}" method="POST">
                <input type="submit" value="Sign in">
              </form>
            {% endif %}
          </td>
          <td>
            <form action="{{ url_for('view_course', course_id=course.get_id()) }}" method="GET">
              <input type="submit" value="View">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endif %}
